<a href="https://colab.research.google.com/github/vin1costa/CursoDeExtensaoPythonPandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) vamos começar um exemplo novo, do zero, mas com a mesma base.
Segundo exemplo de manipulação de dados usando Python Pandas Veremos inserção de dados, remoção de colunas, merge, gráficos

Autor: Henrique Poyatos e galera

Data: 9 e 10 de fevereiro de 2023
"NOVO NOTEBOOK"

In [1]:
# Importando biblioteca pandas no Python
import pandas as pd

In [2]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [3]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True

display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [7]:
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Munícipio forr igual a SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'SAO PAULO' else '' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO', 'INDAIATUBA', 'CAMPINAS', 'SALTO']),['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7742 rows x 2 columns]

In [8]:
# como preencher uma coluna 'Valor de Venda - Status' que verifica o seguinte:
# se o valor de venda for maior que 6,5 reais, ele fala que tá Caro..caso contrário, está barato
import numpy as np

combustiveis_df['Status do Valor de Venda'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Status do Valor de Venda']])

,Revenda,Valor de Venda,Status do Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [11]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [15]:
# Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,Barato,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,Barato,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,Caro,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,Barato,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,Barato,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Complemento               3837 non-null   object
 8   Bairro                    20634 non-null  object
 9   Cep                       20634 non-null  object
 10  Produto                   20634 non-null  object
 11  Data da Coleta            20634 non-null  datetime64[ns]
 12  Valor de Venda            20634 non-null  float64
 13  Valor de Compra           0 non-null      float64
 14  Unidade de Medida         20634 non-null  object
 15  Bandeira                  20634 non-null  object
 16  Ativo                     20634 non-null  bool
 17  Obs                       20634 non-null  object
 18  Status do Valor de Venda  20634 non-null  object
 19  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [14]:
# Destruis coluna completamente vazia (todas linhas nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Bairro                    20634 non-null  object
 8   Cep                       20634 non-null  object
 9   Produto                   20634 non-null  object
 10  Data da Coleta            20634 non-null  datetime64[ns]
 11  Valor de Venda            20634 non-null  float64
 12  Unidade de Medida         20634 non-null  object
 13  Bandeira                  20634 non-null  object
 14  Ativo                     20634 non-null  bool
 15  Obs                       20634 non-null  object
 16  Status do Valor de Venda  20634 non-null  object
 17  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.9+ MB
None

In [19]:
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Complemento,Valor de Compra,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,QUADRA08 LOTE 11E,NaN,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,NaN,NaN,,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,QD. 47 - LT. 01A,NaN,,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,NaN,NaN,,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,NaN,NaN,,1555626
...,...,...,...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,NaN,NaN,,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,NaN,NaN,,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,31 E 45,NaN,,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,L.A. PAL 24008,NaN,,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,NaN,NaN,,6775561

In [16]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status do Valor de Venda']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   Complemento        3837 non-null   object
 5   Valor de Compra    0 non-null      float64
 6   Obs                20634 non-null  object
 7   NumHabitantes2021  20634 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ MB
None

In [18]:
# Remover as linhas dupliacadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Complemento,Valor de Compra,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,QUADRA08 LOTE 11E,NaN,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,NaN,NaN,,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,QD. 47 - LT. 01A,NaN,,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,NaN,NaN,,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,NaN,NaN,,1555626
...,...,...,...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,NaN,NaN,,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,NaN,NaN,,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,31 E 45,NaN,,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,L.A. PAL 24008,NaN,,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,NaN,NaN,,6775561

In [22]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           44
GO             GOIANIA        1555626                          93
MG             BELO HORIZONTE 2530701                          54
MS             CAMPO GRANDE   916001                          104
PR             CURITIBA       1963726                         110
RJ             RIO DE JANEIRO 6775561                         379
RN             NATAL          803739                           37
RO             PORTO VELHO    548952                           40
RS             PORTO ALEGRE   1492530                          73
SP             CAMPINAS       1223237                          51
               INDAIATUBA     260690                           36
               SANTOS         433991                           36
               SAO PAULO      12396372                        429
               SAO VICENTE    370839                           20
TO             PALMAS         313349                           26

                                                 Complemento  Valor de Compra  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       8                0
GO             GOIANIA        1555626                     74                0
MG             BELO HORIZONTE 2530701                      1                0
MS             CAMPO GRANDE   916001                      12                0
PR             CURITIBA       1963726                     11                0
RJ             RIO DE JANEIRO 6775561                     58                0
RN             NATAL          803739                      10                0
RO             PORTO VELHO    548952                       1                0
RS             PORTO ALEGRE   1492530                      5                0
SP             CAMPINAS       1223237                      9                0
               INDAIATUBA     260690                       3                0
               SANTOS         433991                       5                0
               SAO PAULO      12396372                    42                0
               SAO VICENTE    370839                       2                0
TO             PALMAS         313349                      16                0

                                                 Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452              44
GO             GOIANIA        1555626             93
MG             BELO HORIZONTE 2530701             54
MS             CAMPO GRANDE   916001             104
PR             CURITIBA       1963726            110
RJ             RIO DE JANEIRO 6775561            379
RN             NATAL          803739              37
RO             PORTO VELHO    548952              40
RS             PORTO ALEGRE   1492530             73
SP             CAMPINAS       1223237             51
               INDAIATUBA     260690              36
               SANTOS         433991              36
               SAO PAULO      12396372           429
               SAO VICENTE    370839              20
TO             PALMAS         313349              26

In [ ]:
#AQUI O FINAL ESTÁ COM PROBLEMA

#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

#postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df)